In [1]:
import pandas as pd
import genelab_utils as gl

In [2]:
pd.set_option('display.max_rows', None)  # Shows all rows
pd.set_option('display.max_colwidth', None)  # Shows full content of each cell

## Setup Environment Variables
To update the environment, update the "../.env" file.

In [3]:
# Node and relationship directory paths
node_dir, rel_dir = gl.setup_environment()

Environment setup for KG version: v0.0.3

## Validate the KG Metadata Files in the `../kg/v#.#.#/metadata` Directory

In [4]:
gl.validate_kg_metadata()

Metadata files passed the check!

## Get Info about available Datasets

In [5]:
MANIFEST_PATH = "../data/manifest.csv" # file with dataset info

In [6]:
manifest = pd.read_csv(MANIFEST_PATH)

In [7]:
manifest.head()

,identifier,technology,measurement,assay_name,taxonomy,organism,material,filename,url
0,OSD-100,RNA Sequencing (RNA-Seq),transcription profiling,OSD-100_transcription-profiling_rna-sequencing-(rna-seq),10090,Mus musculus,left eye,GLDS-100_rna_seq_differential_expression.csv,https://osdr.nasa.gov/geode-py/ws/studies/OSD-100/download?source=datamanager&file=GLDS-100_rna_seq_differential_expression.csv
1,OSD-101,RNA Sequencing (RNA-Seq),transcription profiling,OSD-101_transcription-profiling_rna-sequencing-(rna-seq)_Illumina,10090,Mus musculus,Left gastrocnemius,GLDS-101_rna_seq_differential_expression.csv,https://osdr.nasa.gov/geode-py/ws/studies/OSD-101/download?source=datamanager&file=GLDS-101_rna_seq_differential_expression.csv
2,OSD-102,RNA Sequencing (RNA-Seq),transcription profiling,OSD-102_transcription-profiling_rna-sequencing-(rna-seq)_Illumina HiSeq 4000,10090,Mus musculus,Left kidney,GLDS-102_rna_seq_differential_expression.csv,https://osdr.nasa.gov/geode-py/ws/studies/OSD-102/download?source=datamanager&file=GLDS-102_rna_seq_differential_expression.csv
3,OSD-103,RNA Sequencing (RNA-Seq),transcription profiling,OSD-103_transcription-profiling_rna-sequencing-(rna-seq),10090,Mus musculus,Quadriceps-left,GLDS-103_rna_seq_differential_expression.csv,https://osdr.nasa.gov/geode-py/ws/studies/OSD-103/download?source=datamanager&file=GLDS-103_rna_seq_differential_expression.csv
4,OSD-104,RNA Sequencing (RNA-Seq),transcription profiling,OSD-104_transcription-profiling_rna-sequencing-(rna-seq)_illumina,10090,Mus musculus,Soleus-both sides,GLDS-104_rna_seq_differential_expression.csv,https://osdr.nasa.gov/geode-py/ws/studies/OSD-104/download?source=datamanager&file=GLDS-104_rna_seq_differential_expression.csv

## Get GeneLab Mission and Study Metadata

In [8]:
metadata = gl.get_metadata(manifest)
metadata.head()

,identifier,project_type,project_title,taxonomy,organism,flight_program,space_program,mission_id,name,start_date,end_date
0,OSD-100,Spaceflight Study,Rodent Research 1,10090,Mus musculus,International Space Station (ISS),NASA,SpaceX-4,SpaceX-4,2014-09-21,2014-10-25
1,OSD-101,Spaceflight Study,Rodent Research 1,10090,Mus musculus,International Space Station (ISS),NASA,SpaceX-4,SpaceX-4,2014-09-21,2014-10-25
2,OSD-102,Spaceflight Study,Rodent Research 1,10090,Mus musculus,International Space Station (ISS),NASA,SpaceX-4,SpaceX-4,2014-09-21,2014-10-25
3,OSD-103,Spaceflight Study,Rodent Research 1,10090,Mus musculus,International Space Station (ISS),NASA,SpaceX-4,SpaceX-4,2014-09-21,2014-10-25
4,OSD-104,Spaceflight Study,Rodent Research 1,10090,Mus musculus,International Space Station (ISS),NASA,SpaceX-4,SpaceX-4,2014-09-21,2014-10-25

## Create Mission Nodes

In [9]:
missions = metadata[["mission_id", "name", "flight_program", "space_program", "start_date", "end_date"]]
missions = missions[missions["name"] != ""].copy()
missions.rename(columns={"mission_id": "identifier"}, inplace=True)

In [10]:
mission_nodes = gl.save_dataframe_to_kg(missions, 'Mission', node_dir)
print(f"Number of Mission nodes: {mission_nodes.shape[0]}")
mission_nodes.head()

Number of Mission nodes: 22

,identifier,name,flight_program,space_program,start_date,end_date
0,SpaceX-4,SpaceX-4,International Space Station (ISS),NASA,2014-09-21,2014-10-25
12,Expedition-14,Expedition 14,International Space Station (ISS),NASA,2006-09-18,2007-04-21
13,SpaceX-8,SpaceX-8,International Space Station (ISS),NASA,2016-04-08,2016-05-11
24,SpaceX-9,SpaceX-9,International Space Station (ISS),NASA,2016-07-18,2016-08-26
34,STS-135,STS-135,Space Transportation System (STS),NASA,2011-07-08,2011-07-21

## Create Study Nodes

In [11]:
studies = metadata[["identifier", "project_title", "project_type", "organism", "taxonomy"]].copy()
studies["name"] = studies["identifier"]
studies = studies[["identifier", "name", "project_title", "project_type", "organism", "taxonomy"]]

In [12]:
study_nodes = gl.save_dataframe_to_kg(studies, 'Study', node_dir)
print(f"Number of Study nodes: {study_nodes.shape[0]}")
study_nodes.head()

Number of Study nodes: 125

,identifier,name,project_title,project_type,organism,taxonomy
0,OSD-100,OSD-100,Rodent Research 1,Spaceflight Study,Mus musculus,10090
1,OSD-101,OSD-101,Rodent Research 1,Spaceflight Study,Mus musculus,10090
2,OSD-102,OSD-102,Rodent Research 1,Spaceflight Study,Mus musculus,10090
3,OSD-103,OSD-103,Rodent Research 1,Spaceflight Study,Mus musculus,10090
4,OSD-104,OSD-104,Rodent Research 1,Spaceflight Study,Mus musculus,10090

## Create Missions-CONDUCTED_MIcS-Study Relationships

In [13]:
mission_conducted_study = metadata[["mission_id", "identifier"]]
# Not all studies have an associated mission (e.g., ground studies)
mission_conducted_study = mission_conducted_study[mission_conducted_study["mission_id"] != ""].copy()
mission_conducted_study.rename(columns={"mission_id": "from", "identifier": "to", }, inplace=True)

In [14]:
mission_conducted_study_rels = gl.save_dataframe_to_kg(mission_conducted_study, 'Mission-CONDUCTED_MIcS-Study', rel_dir)
print(f"Number of Mission-CONDUCTED_MIcS-Study relationships: {mission_conducted_study_rels.shape[0]}")
mission_conducted_study_rels.head()

Number of Mission-CONDUCTED_MIcS-Study relationships: 74

       from       to
0  SpaceX-4  OSD-100
1  SpaceX-4  OSD-101
2  SpaceX-4  OSD-102
3  SpaceX-4  OSD-103
4  SpaceX-4  OSD-104